/* media query pour smartphones */
@media screen and (max-device-width: 600px) {
  main {
    width: 100%;
  }
  /* color picker */
  .colorPicker {
    display: none;
  }
  /* button go to top */
  .gotop {
    display: none;
  }
  /* logo */
  .logoA {
    width: 35%;
  }
  .mainHeader {
    width: 100%;
  }
  .mainMenu {
    display: none;
  }
  /* menu burger */
  .burger {
    z-index: 3;
  }
  .burger {
    display: flex;
  }
  .visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .visible a {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  /* banner */
  .figureBanniere {
    display: none;
  }
  .mainTitle {
    color: grey;
    padding: 5px;
    position: relative;
  }
  .mainTitle h1 {
    color: #313131;
  }
  .mainTitle .button {
    color: #e62058;
    border: 3px solid #c71827;
  }
  /* Section promoting */
  .promoting {
    padding: 0;
    flex-wrap: wrap;
  }
  .promoting article {
    width: 100%;
  }
  /* galerie */
  .picture {
    width: 100%;
  }
  /* galerie nav */
  .secondNav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .secondNav nav {
    width: 100%;
    margin: 0;
  }
  .secondNav .button {
    margin: 0;
  }
  /* testimonoals */
  .divTestimonials img {
    display: none;
  }
  /* New Horizons */
  .horizonSection p {
    margin: 20px;
  }
  .horizonSection .button {
    font-size: 15px;
    padding: 10px 30px;
  }
  /* contact */
  .contact form {
    padding: 20px;
  }
  .formContact {
    flex-wrap: wrap;
  }
  .contact form div {
    width: 100%;
  }
  .formContact .button {
    width: 100%;
  }
  /* footer */
  .mainFooter {
    flex-wrap: wrap;
    text-align: center;
  }
  .mainFooter article {
    width: 100%;
    padding: 20px;
  }
  .mainFooter .button {
    width: 100%;
  }
}
/* media query pour tablettes */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  main {
    width: 100%;
  }
  /* color picker */
  .colorPicker {
    display: none;
  }
  /* to top button */
  .gotop {
    right: 1%;
    top: 65%;
  }
  /* logo */
  .logoA {
    width: 18%;
  }
  .mainHeader {
    width: 100%;
  }
  .mainMenu {
    display: none;
  }
  /* menu burger */
  .burger {
    z-index: 3;
  }
  .burger {
    display: flex;
  }
  .visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .visible a {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  /* banner */
  .mainTitle {
    padding: 15px;
  }
  /* promoting section */
  .promoting {
    flex-wrap: wrap;
  }
  .promoting article {
    width: 100%;
  }
  /* galerie */
  .picture {
    width: calc(100% / 2);
  }
  /* galerie nav */
  .secondNav nav {
    width: 35%;
  }
  .secondNav .button {
    padding: 10px 35px;
  }

  /* testimonials */
  .divTestimonials article {
    align-items: center;
  }

  /* new horizons */
  .horizonSection .button {
    font-size: 15px;
    padding: 10px 20px;
  }

  /* contact */
  .formContact .button {
    width: 40%;
  }
  /* footer */
  .mainFooter article {
    width: 100%;
    padding: 20px;
  }
}
