/* css general */

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
figure{
    margin: 0;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
}

/* body style */

body{
    margin: 0;
    background: rgb(180,58,128);
    background: linear-gradient(8deg, rgba(180,58,128,1) 15%, rgb(207, 16, 16) 50%, rgb(228, 140, 18) 79%);
}

/* main style - border effect */

main{
    background: white;
    top: 150px;
    width: 80%;
    bottom: 150px;
    margin: auto;
}

/* main header & main nav style */

.mainHeader{
    flex-wrap: nowrap;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}

/* clip pour masquer le nom du logo libre de droit -> c'est moche sinon */
.logo{
    clip-path: inset(0 0 17% 0);
}
.logoA{
    width: 10%;
}
.mainMenu{
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.mainMenu a{
    color: white;
    font-weight: bold;
}

/* menu burger */

.burger{
    border: 1px solid white;
    width: 48px;
    height: 48px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burger span{
    height: 4px;
    background: white;
    width: 100%;
}

/* section banniere */

.banniere{
    max-height: 525px;
    overflow: hidden;
    position: relative;
}
.mainTitle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 0;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

/* Button style */

.button{
	background-color:transparent;
	border:2px solid #c71827;
	display:inline-block;
	cursor:pointer;
	color:#e62058;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
}
.button:hover{
	background-color:transparent;
}
.button:active{
	position:relative;
	top:1px;
}

/* section promoting */

.promoting{
    flex-direction: row;
    flex-wrap: nowrap;
}
.iconesPromoting{
    font-size: 1.8rem;
    color: #DA5211;
}

/* galerie */

.galerie{
    flex-wrap: wrap;
    flex-direction: row;
}
.picture{
    width: calc(100% / 4);
    position:relative;
    /* position relative pour faire un overlay plus tard */
    overflow:hidden;
}

/* client testimonials section */

/* navigation & button */
.testimonialsHeader{
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.testimonialsHeader nav{
    width: 40%;
    justify-content: space-around;
}
/* content of testimonial's section  */
.usersIcone{
    font-size:4rem;
    color: #C22446;
}
.testimonials{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divTestimonials{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 75%;
}
/* new horizons section */

.horizonSection{
    background-image: url("../img/stars.jpg");
    color: white;
    height: 400px;
}

/* Contact section */

.formContact{
    flex-direction: row;
    flex-wrap: nowrap;
}
.formContact div{
    flex-direction: column;
    flex-wrap: nowrap;
}

/* main footer */
.mainFooter{
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(26, 26, 26);
    color: white;
}

/* last footer */
.lastFooter{
    height: 80px;
    width: 80%;
    margin: auto;
    color: white;
    justify-content: space-between;
    margin-top: 15px;
}
.lastFooter a{
    color: white;
}
.lastFooter p{
    margin: 0;
}